<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<a class="navbar-brand" href="#">Food Truck</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" [routerLink]="['/welcome']">Accueil <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/catalogue']">Catalogue</a>
			</li>
		</ul>
		<div class="menu item" [routerLink]="['/login']" *ngIf="!(isAuthenticated$ | async)">
			<i class="fas fa-user"></i>
		</div>
		<div class="menu item" *ngIf="isAuthenticated$ | async">
			<i class="far fa-calendar-alt"></i>
			<dp-date-picker [(ngModel)]="selectedDate" [config]="datePickerConfig" mode="day" (onSelect)="dateChange()"></dp-date-picker>
		</div>
		<div class="menu item" [routerLink]="['/cart']">
			<i class="fas fa-shopping-cart"></i>
		</div>
		<div class="menu item" (click)="logout()" *ngIf="isAuthenticated$ | async">
      {{ (user$ | async).prenom }}
			<i class="fas fa-sign-out-alt"></i>
		</div>
	</div>
</nav>