<p>Repas:</p>
<ul *ngIf="categories$ | async as categories; else loading">
	<li *ngFor="let category of categories$ | async" (click)="getSubCategories(category.id)">
    <a href="javascript:">{{ category.libelle }}</a>
  </li>
</ul>
<p>Famille repas:</p>
<ul *ngIf="subCategories$ | async as subCategories; else noCategory">
	<li *ngFor="let subCategory of subCategories" (click)="getProducts(1, subCategory.id)">
    <a href="javascript:">{{ subCategory.libelle }}</a>
  </li>
</ul>
<p>Products:</p>
<ul *ngIf="products$ | async as products; else noSubCategory">
	<li *ngFor="let product of products.data">
    <a href="javascript:">{{ product.libellecommercial }}</a>
    <span class="cart button" (click)="addProduct(product, 1)">+</span>
    <span class="cart button" (click)="removeProduct(product.id)">-</span>
    <span>{{ (getProductQuantities(product.id) | async)?.quantite }}</span>
  </li>
</ul>

<ng-template #loading>
  Please wait, loading...
</ng-template>

<ng-template #noCategory>
  Choose a category
</ng-template>

<ng-template #noSubCategory>
  Choose a sub category
</ng-template>