.cart.button {
    width: 1.5rem;
    height: 1.5rem;
    background: #e8e8e8;
    margin-left: 0.7rem;
    padding: 0.1rem;
    box-sizing: content-box;
    cursor: pointer;
    display: inline-flex;
    line-height: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    & + .cart.button {
      margin-left: 2px;
    }

    &:hover {
      background: grey;
    }
}